output/form-submission-to-slack/v2/make_export.json
{
  "name": "Form Submission to Slack",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": "__WEBHOOK_ID__"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        }
      }
    },
    {
      "id": 2,
      "module": "json:ParseJSON",
      "version": 1,
      "parameters": {},
      "mapper": {
        "json": "{{1.body}}"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "slack:PostMessage",
      "version": 1,
      "parameters": {
        "__IMTCONN__": "__SLACK_CONNECTION__"
      },
      "mapper": {
        "channel": "#form-submissions",
        "text": "New submission from {{2.name}} ({{2.email}})"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      },
      "onerror": [
        {
          "directive": "ignore"
        }
      ]
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    }
  }
}